parameters:
    paths:
        - src
        - tests
    tmpDir: var/cache/ecs
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    autoload_directories:
        - tests

includes:
    - phpstan-baseline.neon
